@using Microsoft.AspNetCore.Identity
@using Dominio.Entidades

@inject SignInManager<UsuarioApp> SignInManager
@inject UserManager<UsuarioApp> UserManager

@{
    var nombreUsuario = "";
    var nombre = "";
    var rolUsuario = "";
    var sexo = "";
    var usuario = User.Identity.IsAuthenticated ? await UserManager.GetUserAsync(User) : null; /*new UsuarioApp() { Nombres = " ", Apellidos = " " }*/;
    if (usuario != null)
    {
        var nombres = usuario.Nombres.ToString().Split(' ');
        var apellidos = usuario.Apellidos.ToString().Split(' '); ;
        nombre = User.Identity.IsAuthenticated ? nombres[0] + " " + apellidos[0] : "";
        nombreUsuario = User.Identity.IsAuthenticated ? UserManager.GetUserName(User) : "";
        var rolList = await UserManager.GetRolesAsync(usuario);
        rolUsuario = User.Identity.IsAuthenticated ? new List<string>(rolList).ToArray()[0] : "";
        sexo = usuario.Sexo;
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>SIF - Sistema de Inteligencia Fiscal</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link href="~/assets/css/MisEstilos.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/assets/css/waitMe.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/chosen.min.css" rel="stylesheet" />
    <!-- ace settings handler -->
    <script src="~/assets/js/ace-extra.min.js"></script>

    <style>
        .mgt-12 {
            margin-top: 12px !important;
        }

        .pagination > li.active > a,
        .pagination > li.active > span,
        .pagination > li.active > a:hover,
        .pagination > li.active > span:hover,
        .pagination > li.active > a:focus,
        .pagination > li.active > span:focus {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #307ecc;
            border-color: #337ab7;
        }

        .dataTables_scrollBody {
            position: relative;
            overflow: hidden !important;
            width: 100%;
        }

        .text-dark {
            color: black;
        }
    </style>

</head>

<body class="no-skin">

    <div id="navbar" style="background: #0c70ab;" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">

            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        SIF - 2023
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            @if (sexo == "Masculino")
                            {<img class="nav-user-photo" src="~/assets/images/avatars/avatar4.png" alt="Jason's Photo" />}
                            else
                            { <img class="nav-user-photo" src="~/assets/images/avatars/avatar3.png" alt="Jason's Photo" />}
                            <span class="hidden-xs">
                                @nombreUsuario [@rolUsuario]
                            </span>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Mi Perfil
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Action("Logout","Seguridad")">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Cerrar Sesíón
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <partial name="_MenuSide" />

        <div class="main-content">
            <div class="main-content-inner">

                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="@ViewBag.Regresar">@ViewBag.Title</a>
                        </li>
                        <li class="active"><a style="color: #777!important" href="@ViewBag.url">@ViewBag.SubTitle</a></li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <div class="page-content">

                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-primary ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-130"></i>
                        </div>
                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#f2f2f2">#f2f2f2</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; Cambiar Skin</span>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-hover"> Activar SubMenu</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-compact"> Menú Compacto</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-highlight"> Activar Item</label>
                                </div>

                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div><!-- /.ace-settings-container -->

                    <div class="row">

                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div><!-- /.page-content -->
            </div>
        </div>

        <div class="footer" style="position:static">
            <div class="footer-inner">
                <div class="footer-content">

                    <span class="pull-left"><img src="~/assets/css/images/DGI.png" style="WIDTH: 10em; " alt="Alternate Text" /></span>

                    <span class="blue bolder ">SIF</span>
                    <b>Sistema de Inteligencia Fiscal &copy; 2023</b> | Todos los derechos reservados
                    <span class="pull-right hidden-xs">
                        <b>Versión:</b> Mark 1.0
                    </span>
                </div>

            </div>
        </div>

    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <script src="~/assets/jquery/dist/jquery.js"></script>
    <script src="~/assets/css/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/js/jquery-confirm.min.js"></script>
    <script src="~/assets/js/waitMe.js"></script>
    <script src="~/assets/inputmask/dist/min/inputmask/inputmask.min.js"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>


    <!-- Data Tables Scripts -->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/dataTables.select.min.js"></script>
    
    <script>
        function EstiloTabla(Tabla) {
            $(Tabla).DataTable({
                "dom": '<"col-md-12"ft<"mgt-12"<"pull-left"p><"pull-right"i>>',
                "paging": true,
                "lengthChange": false,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "scrollX": true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 to 0 of 0 registros",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            })
        }

        function EstiloTablaMenu(Tabla) {
            $(Tabla).DataTable({
                "dom": '<"col-md-12"ft<"mgt-12"<"pull-left"p>>',
                "paging": true,
                "lengthChange": false,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "scrollX": false,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 to 0 of 0 registros",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            })
        }
        function IniciarLoad(contenedor) {
            // Mostramos el Ajax Loader
            $(contenedor).waitMe({
                effect: 'roundBounce',
                text: 'Cargando...',
                bg: 'rgba(255, 255, 255, 0.7)',
                color: '#000',
                maxSize: '',
                textPos: 'vertical',
                fontSize: '',
                source: '',
                onClose: function () { }
            });
        };
        function CerrarLoad(contenedor) {
            // Escondemos el Ajax Loader
            $(contenedor).waitMe("hide");
        };

        function ConfirmarEliminado(funcion, parametro) {
            $.confirm({
                icon: 'fa fa-warning',
                title: 'Confirmación!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: false,
                backgroundDismissAnimation: 'glow',
                theme: 'Material',
                animation: 'scale (default)',
                closeAnimation: 'scale',
                animationSpeed: 500,
                content: '¿Desea eliminar este registro?',
                type: 'dark',
                typeAnimated: true,
                buttons: {
                    Aceptar: {
                        text: 'Aceptar',
                        btnClass: 'btn-inverse',
                        action: function () {
                            funcion(parametro);
                        }
                    },
                    Cancelar: {
                        text: 'Cancelar',
                        btnClass: 'btn-inverse',
                        action: function () {

                        }
                    }
                }
            });
        }
        function ConfirmarRestauracion(funcion, parametro1, parametro2) {
            $.confirm({
                icon: 'fa fa-warning',
                title: 'Confirmación!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: false,
                backgroundDismissAnimation: 'glow',
                theme: 'Material',
                animation: 'scale (default)',
                closeAnimation: 'scale',
                animationSpeed: 500,
                content: '¿Desea restaurar la contraseña de este usuario?',
                type: 'dark',
                typeAnimated: true,
                buttons: {
                    Aceptar: {
                        text: 'Aceptar',
                        btnClass: 'btn-inverse',
                        action: function () {
                            funcion(parametro1, parametro2);
                        }
                    },
                    Cancelar: {
                        text: 'Cancelar',
                        btnClass: 'btn-inverse',
                        action: function () {

                        }
                    }
                }
            });
        }
        function SuccessGuardarJq(data, funcion) {
            console.log(data);
            $.alert({
                icon: 'fa fa-check',
                title: 'Excelente!',
                closeIcon: function () {
                    funcion();
                },
                closeIconClass: 'fa fa-close',
                backgroundDismiss: false,
                backgroundDismissAnimation: 'glow',
                theme: 'Material',
                animation: 'zoom',
                closeAnimation: 'zoom',
                animationSpeed: 500,
                content: data,
                type: 'blue',
                typeAnimated: true,
                bgOpacity: 0.4,
                buttons: {
                    Aceptar: {
                        text: 'Aceptar',
                        btnClass: 'btn btn-primary',
                        action: function () {
                            funcion();
                        }
                    }
                }
            });
        }
        function SuccessMensajeAlerta(mensaje) {
            console.log(mensaje);
            $.dialog({
                icon: 'fa fa-check',
                title: 'Excelente!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: true,
                columnClass: 'small',
                theme: 'Material',
                animation: 'zoom',
                closeAnimation: 'zoom',
                animationSpeed: 400,
                content: mensaje,
                type: 'blue',
                typeAnimated: true,
                bgOpacity: 0.4,
                autoClose: true
            });
        }
        function FailGuardarJq(data) {
            console.log(data);
            $.confirm({
                icon: 'fa fa-remove',
                title: 'Error!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: true,
                theme: 'Material',
                animation: 'zoom',
                closeAnimation: 'zoom',
                animationSpeed: 500,
                content: data.responseJSON,
                type: 'red',
                typeAnimated: true,
                bgOpacity: 0.4,
                buttons: {
                    Aceptar: {
                        text: 'Aceptar',
                        btnClass: 'btn btn-danger',
                    }
                }
            });
        }
        function SuccessMensaje(mensaje) {
            console.log(mensaje);
            $.dialog({
                icon: 'fa fa-check',
                title: 'Excelente!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: true,
                columnClass: 'small',
                theme: 'Material',
                animation: 'zoom',
                closeAnimation: 'zoom',
                animationSpeed: 400,
                content: mensaje,
                type: 'blue',
                typeAnimated: true,
                bgOpacity: 0.4
            });
        }
        function FailMensaje(mensaje) {
            console.log(mensaje);
            $.dialog({
                icon: 'fa fa-remove',
                title: 'Error!',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                backgroundDismiss: true,
                theme: 'Material',
                animation: 'zoom',
                closeAnimation: 'zoom',
                animationSpeed: 400,
                content: mensaje,
                type: 'red',
                typeAnimated: true,
                bgOpacity: 0.4
            });
        }
        function vacio() { }

    </script>

</body>
</html>

